<a href="https://colab.research.google.com/github/Chris-Adigwe/Christopher_Adigwe_code_for_graded_quiz.ipynb/blob/master/Christopher_Adigwe_code_for_graded_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')
data.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

Question 1

In [13]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.append(B)
A.extend(B)
A

[1, 2, 3, 4, 5, 6, [13, 21, 34]]

In [15]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

Question 2

In [20]:
a = np.array([[1,0,0],[0,1,0],[0,0,1]])
a

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

Question 3

In [99]:
data1 = data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean()
data1 = data1.sort_values()
data1

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

Question4

In [101]:
sd = data.describe()
sd['fuel_mmbtu_per_unit']

count    29523.000000
mean         8.492111
std         10.600220
min          0.000001
25%          1.024000
50%          5.762694
75%         17.006000
max        341.260000
Name: fuel_mmbtu_per_unit, dtype: float64

Question 5

In [28]:
data.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [29]:
data.kurtosis()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

Question 6 and 7

In [62]:
data4 = data.isnull().sum()
data4
data4 = data4['fuel_unit']
data4

180

In [63]:
data3 = data.index
data5 = len(data3)
data5

29523

In [70]:
percentofnullvalues = ((data4)/data5)*100
percentofnullvalues

0.609694136774718

Question 8

In [76]:
data_corr = data.corr()
data_corr1 = data_corr['fuel_cost_per_unit_burned']
data_corr1.sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

Question 9

In [79]:
data1 = data[data['report_year']==1994]
data1 = data1[data1['fuel_type_code_pudl']=="coal"]
data1 = data1['fuel_cost_per_unit_burned'].mean()
data1

31.546467368421077

In [80]:
data2 = data[data['report_year']==1998]
data2 = data2[data2['fuel_type_code_pudl']=="coal"]
data2 = data2['fuel_cost_per_unit_burned'].mean()
data2

27.61623433874713

In [81]:
percentage_change = ((data2-data1)/data2)*100
percentage_change

-14.231603706228723

Question 10

In [89]:
data7 = data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()
data7 = data7.sort_values()
data7

report_year
1999       25.551627
1995       32.735269
2006       38.657484
2005       41.438184
2007       43.325023
2017       46.196861
2002       47.594361
2003       55.663493
2008       58.588197
2011       59.774667
2001       60.050396
2012       60.994502
1994       63.636060
2010       91.862105
2016      103.901761
2004      139.524275
2013      172.307591
2014      192.737183
1998      287.154420
2015      326.535511
2018      499.269966
2009      652.694163
2000      985.362877
1996     9196.705948
1997    11140.197239
Name: fuel_cost_per_unit_delivered, dtype: float64

Question 9